.lmj-banner {
  color: black;
  text-align: right;
  border-bottom: 3px solid #000;
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  align-items: center;
}

lmj-title {
  padding: 32px;
}

lmj-logo {
  height: 45px;
  width: 45px;
}